.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0;
}

.phoneNumber{
    color: black;
    border-radius: 100px;
    background: white;
    box-shadow: 0px 0px 10px 0px rgb(223, 222, 222);
    display: inline-block;
    padding: 10px 20px;
}

.navigation svg{
    color: rgb(11, 209, 11);
   
}

.title{
    width: 40%;
    font-size: 50px;
    padding: 30px 0px;
    margin: 60px;
}

.title span{
    color: #F7BBC7;
}

@media  (max-width:992px){
    .title {
        font-size: 60px;
        text-align: center;
    }
}