.search {
    display: flex;
    justify-content: flex-end;
}

.searchbar {
    background: #FCE8EC;
    outline: none;
    border: none;
    padding: 10px;
}

.btn {
    background-color: #E21A43;
    padding: 10px;
    color: white;
    border: none;
    margin-right: 20px;
}

.personbtn, .shopbtn{
    background-color:#FCE8EC;
    padding: 10px;
    color:  #E21A43;
    border: none;
    margin-right: 20px;
}