*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
   
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a.nav{
    color: black;
}

a.activeNav {
    color: #E21A43;
    font-weight: 700;
}

h2{
    text-align: center;
    margin: 40px;
}
