.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
display: flex;

}

.itemCards {
    margin: 60px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.product {

    border: 8px solid white;
}